
html,
body {
  display: flex;
  flex-direction: column;
  font-size: clamp(0.875rem, 0.831rem + 0.1408vw, 1rem);
  line-height: 1.15;
  height: 100%;
  @include Arimo-400;
  color: $text-color;
}

.main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}

