@mixin _1920 {
  @media (max-width: 1920px) {
    @content;
  }
}

@mixin _1400 {
  @media (max-width: 1400px) {
    @content;
  }
}

@mixin _1300 {
  @media (max-width: 1300px) {
    @content;
  }
}

@mixin _1250 {
  @media (max-width: 1250px) {
    @content;
  }
}
@mixin _1200 {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin _1024 {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin _890 {
  @media (max-width: 890px) {
    @content;
  }
}

@mixin _767 {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin _620 {
  @media (max-width: 620px) {
    @content;
  }
}

@mixin _400 {
  @media (max-width: 400px) {
    @content;
  }
}

//Fonts family

@mixin Arimo-700 {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
}

@mixin Arimo-700-i {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-style: italic;
}

@mixin Arimo-600 {
  font-family: "Arimo", sans-serif;
  font-weight: 600;
}

@mixin Arimo-600-i {
  font-family: "Arimo", sans-serif;
  font-weight: 600;
  font-style: italic;
}

@mixin Arimo-500 {
  font-family: "Arimo", sans-serif;
  font-weight: 500;
}

@mixin Arimo-500-i {
  font-family: "Arimo", sans-serif;
  font-weight: 500;
  font-style: italic;
}

@mixin Arimo-400 {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
}

@mixin Arimo-300 {
  font-family: "Arimo", sans-serif;
  font-weight: 300;
}
