.contact {
    margin: 50px 0 100px;

    @include _1024 {
        margin-bottom: 50px;
    }


    &__wrap {
        position: relative;
        display: flex;
        justify-content: space-between;
        color: #1A171B;
        gap: 10px;

        @include _1024 {
            display: block;
        }
    }

    &__address {
        max-width: 50%;
        width: 100%;

        @include _1024 {
            max-width: 100%;
            margin-bottom: 50px;
        }
    }

    &__address-box {
        max-width: 590px;
        width: 100%;

        @include _1024 {
            max-width: 100%;
        }

        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }

    &__address-title {
        position: relative;
        @include Arimo-500;
        font-size: 24px;
        margin-bottom: 25px;
        padding-left: 45px;

        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        &--trast {
            &::before {
                background-image: url('../images/content/contact/heart-partner.svg');
            }
        }

        &--contact {
            &::before {
                background-image: url('../images/content/contact/postal-address.svg');
            }
        }

        &--social {
            &::before {
                background-image: url('../images/content/contact/share-alt-square.svg');
            }
        }
    }


    &__address-connect {
        max-width: 400px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 25px 10px;
        flex-wrap: wrap;

        @include _400 {
            margin-left: 30px;
        }
    }

    &__address-communication {
        position: relative;
        padding-left: 40px;

        span {
            display: block;
            margin-bottom: 10px;
        }

        &::before {
            position: absolute;
            content: '';
            width: 25px;
            height: 25px;
            left: 0;
            top: 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        &--phone-icon {
            &::before {
                background-image: url('../images/content/contact/solar_phone-linear.svg');
            }
        }

        &--email-icon {
            &::before {
                background-image: url('../images/content/contact/mage_email.svg');
            }
        }
    }


    &__address-link {
        color: #1A171B;
        transition: all ease-in 0.3s;
        @include Arimo-700;
        font-size: 16px;

        &:hover {
            color: #8B0000;
        }
    }

    &__address-social-list {
        display: flex;
        gap: 15px;

        @include _400 {
            margin-left: 30px;
        }
    }

    &__address-link-social {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        transition: all 0.3s ease-in;

        svg {
            width: 32px;
            height: 32px;

            path {
                transition: transform 0.3s ease-in;
            }
        }

        &:hover svg path {
            transform: scale(0.9);
        }
    }

    &__form {
        position: relative;
        background-image: url('../images/content/banners/form-bg.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 635px;
        width: 100%;
        padding: 60px 50px;
        height: 800px;
        z-index: 2;
        margin-top: -160px;
        border-radius: 8px;

        @include _1024 {
            margin: 0 auto;
            max-width: calc(100% - 30px);
        }

        @include _767 {
            max-width: 100%;
            padding: 30px 20px;
        }
    }
}