.top-block {
    padding-top: 120px;
    padding-bottom: 50px;
    background-color: $bacground-color;
    background-image: url('../images/footer/footer-bg.webp');

    @include _1200 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__wrapper {
        width: 50%;

        @include _1024 {
            width: 100%;
        }
    }
}

.top-block-breadcrumbs {
    ul {
        display: flex;
        gap: 5px;
    }

    a {
        color: white;
    }

    margin-bottom: 25px;

}

.top-block-title {
    text-transform: uppercase;
    @include Arimo-700;
    font-size: clamp(1.5625rem, 1.1444rem + 1.338vw, 2.75rem);
    margin-bottom: 25px;

}

.top-block-description {
    @include Arimo-500;
    color: #98A1A2;
    margin: 0 30px 25px 0;

    @include _1024 {
        margin-right: 0;
    }
}

.top-block-video a {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #98A1A2;

    span {
        color: $title-color;
    }
}


.top-block-video {
    .btn-call {
        border-radius: 50%;
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3);
        width: 50px;
        height: 50px;
        transition: .3s;
        animation: hoverWave linear 1s infinite;

    }

    @keyframes hoverWave {
        0% {
            box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)
        }

        40% {
            box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)
        }

        80% {
            box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067)
        }

        100% {
            box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0.0)
        }
    }
}